@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --text-color: var(--text); /* Default (light mode) color */
  --background-start-color: var(--background); /* Default (light mode) color */
  --background-end-color: var(--secondary); /* Default (light mode) color */
}

.dark {
  --text-color: var(--text); /* Dark mode color */
  --background-start-color: var(--background); /* Dark mode color */
  --background-end-color: var(--secondary); /* Dark mode color */
}

body {
  color: var(--text-color);
  background: radial-gradient(
      ellipse at center,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
  background-attachment: fixed; /* This fixes the background */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-size: cover; /* Ensures the background covers the entire viewport */
}

@layer base {
  :root {
    --text: #0d1626;
    --background: #e7edf9;
    --primary: #13326c;
    --secondary: #6b9cef;
    --accent: #084dc4;
    --shade: #85b0fa;
  }
  .dark {
    --text: #dae3f2;
    --background: #070e1a;
    --primary: #92b2ec;
    --secondary: #0f3f93;
    --accent: #3a7ef7;
    --shade: #021331;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.menuBackground {
  background: radial-gradient(
      ellipse at center,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
  background-attachment: fixed; /* This fixes the background */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-size: cover; /* Ensures the background covers the entire viewport */
}
